{% extends 'base.html.twig' %}

{% block title %}Hello TeacherController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper" >
    {% if answers is not empty %}
        {% for answer in answers %}

            <p><a href="{{  url('download_answer',{'idAnswer': answer.id}) }}">download {{ answer.autor.name}} </a></p>
                {% if answer.grade is not null %}
                    <p>grade: {{ answer.grade}}</p>
                {% else %}
                    <p>not evaluated yet</p>
                {% endif %}
            <form action="{{ url('grade_answer',{'idAnswer': answer.id}) }}">
                <label>
                    <input name="grade" id="grade" type="number">
                </label>
                <button type="submit">oceń</button>
            </form>
        {% endfor %}
    {% else %}
        <p>No answers yet</p>
    {% endif %}
</div>
{% endblock %}
